<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEPRE UNAJ</title>
    <link rel="stylesheet" type="text/css" href="/styles/convo.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/image/img-2.jpg" alt="Logo UNAJ">
            <span>CEPREUNAJ</span>
        </div>
        <a href="/inscripcion"><button class="btn atras">INSCRIPCION</button></a>
        <a href="/"><button class="btn atras">Volver</button></a>
    </header>
    <main>
        <section>
            <h2>Requisitos</h2>
            <p>Los interesados deberán cumplir con los siguientes requisitos:</p>
            <ul>
                <li>Título de doctorado en la especialidad correspondiente.</li>
                <li>Experiencia docente mínima de 2 años.</li>
                <li>Publicaciones en revistas científicas de impacto.</li>
            </ul>
        </section>
        <section >
            <h2>Seleccionados</h2>
            <p>Los candidatos seleccionados deberán impartir clases en nuestra 
                institución durante el curso académico 2024-II.</p>
        </section>
        <section>
            <h2>Fecha limite</h2>
            <p>La fecha límite para la presentación de solicitudes 
                es el 15 de agosto de 2024.</p>
        </section>
        <section>
            <h2>Contacto</h2>
            <p>Para saber mas sobre nosotros visitenos en nuestro local
                o comuniquese a traves de nuestras redes
            </p>
            <ul>
                <p>Dirección: <a href="https://www.google.com/maps/place/Universidad+Nacional+de+Juliaca/@-15.4881219,-70.152347,17z/data=!3m1!4b1!4m6!3m5!1s0x9167f160ebb3a55f:0x26823c05f45926fa!8m2!3d-15.4881271!4d-70.1497667!16s%2Fg%2F1215chzh?entry=ttu" target="_blank">Av. Nueva Zelandia 631, Juliaca 21101</a></p>
                <p>Correo Electrónico: <a href="mailto:admision@unaj.edu.pe">admision@unaj.edu.pe</a></p>
                <p>WhatsApp: <a href="https://api.whatsapp.com/send?phone=51976624229" target="_blank">CEPREUNAJ</a></p>
            </ul>
        </section>
    </main>
</body>
</html>