<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 Escuelas Profesionales</title>
    <link rel="stylesheet" type="text/css" href="/styles/cursos.css"
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Escuelas Profesionales de la Universidad Nacional de Juliaca</h1>
            <li><a href="/"><button class="btn-atras">Volver</button></a></li>
        </div>
        
    </header>
    <main>
        <section class="school">
            <h2>Administracion y Emprendimiento Empresarial</h2>
            <p>La carrera profesional de Administración y Emprendimiento Empresarial en la Universidad Nacional
                de Juliaca te brinda una sólida formación en áreas clave para el mundo empresarial.</p>
        </section>
        <section class="school">
            <h2>Economia</h2>
        <p>La carrera de Economía en la Universidad Nacional de Juliaca te brinda una formación sólida en economía y
             métodos cuantitativos, combinada con una perspectiva humanista y global. Aprenderás a analizar los problemas 
             económicos y sociales tanto a nivel nacional como en el contexto de la globalización actual. </p>
        </section>
        <section class="school">
            <h2>Ingenieria de Software y Sistemas</h2>
        <p>La carrera de Ingeniería de Software y Sistemas en la Universidad Nacional de Juliaca te prepara para liderar
             proyectos tecnológicos y aprovechar la tecnología de manera inteligente.</p>
        </section>
        <section class="school">
            <h2>Ingenieria Industrial</h2>
        <p>La carrera de Ingeniería Industrial en la Universidad Nacional de Juliaca te forma para ser un líder y emprendedor
             en el mundo empresarial. Aprendes a gestionar eficientemente los recursos (materiales, humanos y financieros) de 
             proyectos y organizaciones, adaptándote a cambios constantes e innovando con creatividad. También te enseña sobre
              tecnología de producción, sistemas de información e inteligencia artificial.</p>
        </section>
        <section class="school">
            <h2>Ingenieria de Industrias Alimentarias</h2>
        <p>La carrera de Ingeniería de Industrias Alimentarias en la Universidad Nacional de Juliaca te prepara para liderar proyectos 
            en la industria alimentaria, desarrollando y optimizando procesos de producción y conservación de alimentos de 
            manera segura y eficiente.</p>
        </section>
        <section class="school">
            <h2>Ingenieria Ambiental y Forestal</h2>
        <p>La carrera de Ingeniería Ambiental y Forestal en la Universidad Nacional de Juliaca te capacita para gestionar y 
            conservar recursos naturales, liderando proyectos que promuevan la sostenibilidad y restauración de ecosistemas, 
            así como el control de la contaminación.</p>
        </section>
        <section class="school">
            <h2>Ingenieria Textil y de Confecciones</h2>
        <p>La carrera de Ingeniería Textil y de Confecciones en la Universidad Nacional de Juliaca te prepara para innovar en 
            la producción y diseño de textiles y prendas de vestir, liderando proyectos que optimicen procesos y aseguren la 
            calidad de los productos textiles.</p>
        </section>
        <section class="school"> <h2>Ingenieria Mecatronica</h2>
            <p>La carrera de Ingeniería Mecatrónica en la Universidad Nacional de Juliaca te capacita para integrar mecánica, 
                electrónica e informática, liderando proyectos de automatización y desarrollo de sistemas inteligentes en diversas industrias.</p>
        </section>
        <section class="school">
            <h2>Ingenieria de Energias Renovables</h2>
        <p>La carrera de Ingeniería de Energías Renovables en la Universidad Nacional de Juliaca te prepara para liderar 
            proyectos en el campo de las energías limpias, aprovechando tecnologías renovables para generar energía de 
            manera sostenible y mitigar el cambio climático.</p>
        </section>
        <section class="school">
            <h2>Gestion Publica y Desarrollo Social</h2>
        <p>La carrera de Gestión Pública y Desarrollo Social en la Universidad Nacional de Juliaca te capacita para liderar y 
            gestionar políticas y programas en el sector público y organizaciones no gubernamentales, promoviendo el desarrollo 
            social y económico de la comunidad de manera eficiente y equitativa.</p>
        </section>
    </main>
</body>
</html>