<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEPRE UNAJ</title>
    <link rel="stylesheet" type="text/css" href="/styles/incio.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/image/img-2.jpg" alt="Logo UNAJ">
            <span>CEPREUNAJ</span>
        </div>
        <nav>
            <ul>
                <li><a href="#cepre"> CEPRE</a></li>
                <li><a href="#admission">Admisión</a></li>
                <li><a href="#convocations">Convocatorias</a></li>
                <li><a href="student_login">Asignaturas</a></li>
                <li><a href="/login"> Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="admission">
            <h2>Admisión</h2>
            <p>Información sobre el proceso de admisión</p>
            <ul>
                <li><a href="#">Requisitos de admisión</a></li>
                <li><a href="#">Proceso de inscripción</a></li>
                <li><a href="#">Documentos necesarios</a></li>
            </ul>
        </section>
        <section id="cepre">
            <h2>CEPRE</h2>
            <p>Información sobre el curso preparatorio</p>
            <ul>
                <li><a href="cursos">Escuelas Profesionales que te puedan interesar</a></li>
                <li><a href="/matricula">Inscripción</a></li>
            </ul>
        </section>
        <section id="convocations">
            <h2>Convocatorias</h2>
            <p>Convocatorias abiertas para estudiantes</p>
            <ul>
                <li><a href="#">Convocatoria de la segunda fecha</a></li>
                <li><a href="/convocatoria">Convocatoria Para Docentes CEPREUNAJ</a></li>
            </ul>
        </section>
        <section id="contact">
            <h2>Contacto</h2>
            <p>Para saber mas sobre nosotros visitenos en nuestro local
                o comuniquese a traves de nuestras redes
            </p>
            <ul>
                <p>Dirección: <a href="https://www.google.com/maps/place/Universidad+Nacional+de+Juliaca/@-15.4881219,-70.152347,17z/data=!3m1!4b1!4m6!3m5!1s0x9167f160ebb3a55f:0x26823c05f45926fa!8m2!3d-15.4881271!4d-70.1497667!16s%2Fg%2F1215chzh?entry=ttu" target="_blank">Av. Nueva Zelandia 631, Juliaca 21101</a></p>
                <p>Correo Electrónico: <a href="mailto:admision@unaj.edu.pe">admision@unaj.edu.pe</a></p>
                <p>WhatsApp: <a href="https://api.whatsapp.com/send?phone=51976624229" target="_blank">CEPREUNAJ</a></p>
            </ul>
        </section>
    </main>
</body>
</html>